@font-face {
    font-family: 'Quantify';
    src: url('quantify/Quantify.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html{
    background-color: #0A2463;
    color: #E2E2E2;
    font-family: 'Quantify', Arial, sans-serif;
}

#containerTotale{
    margin: auto;
}

#containerTotale #containerPlaylist{
    margin: auto;
    background-color: #91ADC2;
    border-radius: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

#containerTotale #containerPlaylist #rigaPlaylist{
    margin: auto;
    background-color: #26532B;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-radius: 25px;
}

#containerTotale #containerPlaylist #rigaPlaylist #playlistInfo{
    padding: 1%;
    margin: auto;
    border-bottom: solid 1px #E2E2E2;
}

#containerTotale #CreaPlay{
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.btn{
    background-color: #9FCC2E;
    border-color: #9FCC2E;
    color:#E2E2E2;
}